<!--MENU-->
<div class="menu">
  <ul class="menu_ul" id="menu_ul">
    <a href="/home">
      <li class="menu_li"><i class="fa fa-home"></i><span> Home</span></li>
    </a>
    <a href="/students">
      <li class="menu_li"><i class="fa fa-user-o"></i><span> Estudantes</span></li>
    </a>
    <a href="/heads">
      <li class="menu_li"><i class="fa fa-group"></i><span> Encarregados de Educação</span></li>
    </a>
    <a href="/events">
      <li class="menu_li"><i class="fa fa-building-o"></i><span> Eventos</span></li>
    </a>
    <a href="/workers">
      <li class="menu_li"><i class="fa fa-user-plus"></i><span> Pessoal</span></li>
    </a>
    <a href="/finances">
      <li class="menu_li"><i class="fa fa-credit-card"></i><span> Finanças</span></li>
    </a>
    <a href="/documents">
      <li class="menu_li"><i class="fa fa-file-text"></i><span> Documentos</span></li>
    </a>
    <a href="/statistics">
      <li class="menu_li"><i class="fa fa-pie-chart"></i><span> Estatísticas</span></li>
    </a>
    <div class="nav_menu_nav">
      <ul class="nav_ul_nav">
        <li class="menu_li"><i class="fa fa-user"></i></li>
        <li class="menu_li"><i class="fa fa-plus"></i></li>
        <li class="menu_li"><i class="fa fa-envelope-o"></i></li>
        <li class="menu_li"><i class="fa fa-tasks"></i></li>
        <li class="menu_li"><i class="fa fa-trash"></i></li>
        <li class="menu_li"><i class="fa fa-cog"></i></li>
        <a href="/logout">
          <li class="menu_li"><i class="fa fa-mail-reply"></i></li>
        </a>
      </ul>
    </div>


  </ul>
</div>