<!--NAVBAR-->
<nav class="nav">
  <div class="nav_brand">
    <h2><span>SMAP</span> <i class="fa fa-mortar-board"></i></h2>
  </div>
  <div class="nav_menu">
    <ul class="nav_ul">
      <a>
        <li class="nav_li"><i class="fa fa-user"></i><span> Bem-Vindo</span></li>
      </a>
      <li class="nav_li second_li"><i class="fa fa-telegram"></i><span> Chat</span>
        <ul>
          <li class="second_li_li"><i class="fa fa-plus"></i><span> Nova Mensagem</span></li>
          <li class="second_li_li"><i class="fa fa-envelope-o"></i><span> Caixa de Entrada</span></li>
          <li class="second_li_li"><i class="fa fa-tasks"></i><span> Caixa de Saída</span></li>
          <li class="second_li_li"><i class="fa fa-trash"></i><span> Lixo</span></li>
        </ul>
      </li>
      <a>
        <li class="nav_li second_li" id="background"><i class="fa fa-cog"></i><span> Fundo</span>
          <ul>
            <li class="second_li_li text_center" color-type="back1.jpg">
              <span> Infância</span>
            </li>
            <li class="second_li_li text_center" color-type="back2.jpg">
              <span> Maquete</span>
            </li>
            <li class="second_li_li text_center" color-type="back3.jpg">
              <span> Paisagem</span>
            </li>
            <li class="second_li_li text_center" color-type="back4.jpg">
              <span> Edifício</span>
            </li>
          </ul>
        </li>
      </a>
      <a href="/logout">
        <li class="nav_li"><i class="fa fa-mail-reply"></i><span> Sair</span></li>
      </a>
    </ul>
    <form id="search_form">
      <input type="text" name="search" id="search" placeholder="Pesquisar...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>