<!--Person in charge-->
<div class="main_person_in_charge">
  <!--VIEW LIST CLASS-->
  <div class="view_list" id="view_list_person_in_charge">
    <div class="form_control">
      <select name="class" id="header_person_in_charge">
        <option value="">------------------------------------------Seleccione a
          classe------------------------------------------</option>
        <option value="Iniciação">Iniciação</option>
        <option value="1ª Classe">1ª Classe</option>
        <option value="2ª Classe">2ª Classe</option>
        <option value="3ª Classe">3ª Classe</option>
        <option value="4ª Classe">4ª Classe</option>
        <option value="5ª Classe">5ª Classe</option>
        <option value="6ª Classe">6ª Classe</option>
        <option value="7ª Classe">7ª Classe</option>
        <option value="8ª Classe">8ª Classe</option>
        <option value="9ª Classe">9ª Classe</option>
      </select>
    </div>
    <span class="display_list">
      <table id="table_header"></table><br><br>
      <span id="span_header"></span>
    </span>
  </div>
  <!--END VIEW LIST CLASS-->
</div>
<!--End of Person in charge-->