<!--MAIN-->
<div class="main">
  <div class="main_home">
    <h1>Seja bem-vindo ao SMAP</h1>
    <h3>O melhor sistema de gerenciamento escolar!</h3>
    <img src="/images/spinner.gif" alt="Spinner">
  </div>
</div>