<!--MAIN-->
<div class="main">
  {{#if err}}
  <div class="warning_content" id="warning_message">{{err}}</div>
  {{/if}}
  {{#if success}}
  <div class="success_content" id="success_content">{{success}}</div>
  {{/if}}

  <!--MAIN EVENT-->
  <div class="main_event statistics" id="main_event">

    <div class="card_events" id="add_event">
      <h1>Estudantes<br><span id="student"></span></h1>
    </div>

    <div class="card_events" id="add_event">
      <h1>Encarregados de Educação<br><span id="head"></span></h1>
    </div>

    <div class="card_events" id="add_event">
      <h1>Eventos<br><span id="event"></span></h1>
    </div>

    <div class="card_events" id="add_event">
      <h1>Pessoal<br><span id="worker"></span></h1>
    </div>

    <div class="card_events" id="add_event">
      <h1>Finanças<br><span id="finance"></span></h1>
    </div>

    <div class="card_events" id="add_event">
      <h1>Documentos<br><span id="doc"></span></h1>
    </div>

  </div>
  <!--END MAIN EVENT-->


</div>